<!DOCTYPE html>
<html>
    <title>404</title>
    <head>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/style.css">
        
        
    </head>
    <body>
        <div class="main_content">
            {{>header}}
            <p>{{ErrorMessage}}</p>
        
        </div>
        

        {{>footer}}
    
    </body>
   

</html>

