<!DOCTYPE html>
<html>
    
    <title>About</title>
    <head>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main_content">
            {{>header}}
        
            <img class="portrait" src="/img/about.jpg" alt="image not found">

        </div>
       

        {{>footer}}      
    </body>
    
</html>